.bubble1 {
    position: absolute;
    left: 60em;
    top: 2rem;
    width: 14rem;
    z-index: -2;
}

.bubble2 {
    position: absolute;
    left: 5em;
    top: 5rem;
    width: 11rem;
    rotate: 180deg;
    z-index: -2;
}

.info-tekst {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1em;
    z-index: -1;

    h1 {
        align-self: center;
        width: 12rem;
        height: 0;
        margin: 2.5em;
        padding: 1em 0;
    }

    .Symptomen {
        width: 60rem;
        padding: 0 10em;
    }

    .Oorzaak {
        width: 60rem;
        padding: 2em 10em;
    }
}