@use 'grid';
@use 'content';
@use 'components';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

// elke-pagina styling start ---

// logo zou hierdoor verdwijnen na 880px
@media all and (max-width: 880px) {
  .logo {
    display: none;
  }
}


// responsive per screen width | je kan meer elementen toevoegen als je iets moet responsive maken
@media (min-width: 1250px) and (max-width: 3840px) {
  body {
    padding-top: 5%;
  }
}

@media (min-width: 1050px) and (max-width: 1249px) {
  body {
    padding-top: 6%;
  }
}

@media (min-width: 850px) and (max-width: 1049px) {
  body {
    padding-top: 7%;
  }
}

@media (min-width: 550px) and (max-width: 849px) {
  body {
    padding-top: 10%;
  }
}

@media (min-width: 300px) and (max-width: 549px) {
  body {
    padding-top: 15%;
  }
}




// elke-pagina styling eind ---


// index.html start ---

#schizo-titel {
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  font-weight: 600;
}

#inleiding-html-text {
  text-align: center;
}


// index.html end ---

// geschiedenis.html start ---

.geschiedenisHR {
  background-color: #000000;
  height: 4px;
  border-radius: 4px;
  width: 80%;
}

.geschiedenisPN {
    font-size: 4rem;
    justify-content: center;
    display: flex;
}
.geschiedenisPND{
    padding: 4rem;
}

// geschiedins.html end ---


/* styling for quiz page */

#quiz {
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  border: 2px solid black;

}

#vraag1 {
  position: fixed;
<<<<<<< HEAD
}

#vraag2 {
   position: fixed;
   display: none;
}

#vraag3 {
=======

}

#vraag2 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag4 {
=======
#vraag3 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag5 {
=======
#vraag4 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag6 {
=======
#vraag5 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag7 {
=======
#vraag6 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag8 {
=======
#vraag7 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag9 {
=======
#vraag8 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag10 {
=======
#vraag9 {
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
  position: fixed;
  display: none;
}

<<<<<<< HEAD
#vraag11 {
  position: fixed; 
  display: none;
}

#submit-button {
  display: none;

}

#v1-button {
  display: block;
  
}
#v2-button {
  display: none;
}
#v3-button {
  display: none;
}
#v4-button {
  display: none;
}
#v5-button {
  display: none;
}
#v6-button {
  display: none;
}
#v7-button {
  display: none;
}
#v8-button {
  display: none;
}
#v9-button {
  display: none;
}
#v10-button {
  display: none;
}
// ending of quiz page
=======
#vraag10 {
  position: fixed;
  display: none;
}

#vraag11 {
  position: fixed;
  display: none;
}

// ending of quiz page

// styling foto symptomen pagina

#fotosym
{
  img{
    width: 60%;
    height: 60%;
  }
  }


  #fotobeh
  {
    width: 60%;
    height: 60%;
  }
>>>>>>> d0fe43c58656f468b6b541fa5d56eef57282689d
