@use 'grid';
@use 'content';
@use 'components';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

// Elke pagina-start
// Elke pagina-einde


// index.html start

#schizo-titel {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-weight: 600;
}

#inleiding-html-text {
    text-align: center;
}


// index.html end