@use 'grid';
@use 'content';
@use 'components';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

// elke-pagina styling start ---

// logo zou hierdoor verdwijnen na 880px
@media all and (max-width: 880px) {
    .logo { display: none; }
  }


// responsive per screen width | je kan meer elementen toevoegen als je iets moet responsive maken
@media (min-width: 1250px) and (max-width: 3840px) {
    body {
        padding-top: 5%;
    }
    #quiz {
      position: fixed;
      left: 25%;
      top: 25%;
      width: 50%;
      height: 50%;
      border: 2px solid black;
    
    }
    
    #vraag1, #vraag2, #vraag3, #vraag4, #vraag5, #vraag6, #vraag7, #vraag8, #vraag9, #vraag10, #vraag11 {
      position: relative;
      left: 0.5em;
      font-size: 1.25rem;
    }
    #v1-button, #v2-button, #v3-button, #v4-button, #v5-button, #v6-button, #v7-button, #v8-button, #v9-button, #v10-button {
      position: fixed;
      top: 60%;
      left: 42.5%;
      font-size: 1.7rem;
    }
}
@media (min-width: 1050px) and (max-width: 1249px) {
    body {
        padding-top: 6%;
    }
    #quiz {
      position: fixed;
      left: 25%;
      top: 25%;
      width: 50%;
      height: 50%;
      border: 2px solid black;
    
    }
    
    #vraag1, #vraag2, #vraag3, #vraag4, #vraag5, #vraag6, #vraag7, #vraag8, #vraag9, #vraag10, #vraag11 {
      position: relative;
      left: 0.5em;
      font-size: 1.25rem;
    }
    #v1-button, #v2-button, #v3-button, #v4-button, #v5-button, #v6-button, #v7-button, #v8-button, #v9-button, #v10-button {
      position: fixed;
      top: 60%;
      left: 37.5%;
      font-size: 1.7rem;
    }
}

@media (min-width: 850px) and (max-width: 1049px) {
    body {
        padding-top: 7%;
    }
}

@media (min-width: 550px) and (max-width: 849px) {
    body {
        padding-top: 10%;
    }
}

@media (min-width: 300px) and (max-width: 549px) {
    body {
        padding-top: 15%;
    }
    
}
@media (min-width: 300px) and (max-width: 1049px) {
  #quiz {
    position: fixed;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 43%;
    border: 2px solid black;
  }
  
  #vraag1, #vraag2, #vraag3, #vraag4, #vraag5, #vraag6, #vraag7, #vraag8, #vraag9, #vraag10, #vraag11 {
    position: relative;
    left: 0.5em;
    font-size: 1.5rem;
  }
  #v1-button, #v2-button, #v3-button, #v4-button, #v5-button, #v6-button, #v7-button, #v8-button, #v9-button, #v10-button, #submit-button{
    position: fixed;
    top: 44%;
    left: 35%;
    font-size: 1.7rem;
  }
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



// elke-pagina styling eind ---


// index.html start --- 
#img1-index, #img2-index, #img3-index {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}
#img1-index {
  position: relative;
  width: 20%;
}
#img2-index{
  position: relative;
  width: 20%;
}

#schizo-titel {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-weight: 600;
}

#inleiding-html-text {
    text-align: center;
}
.main-html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#position1 {
  display: flex;
  justify-content: space-between;
}
#position2 {
  display: flex;
  justify-content: space-between;
}
#position3 {
  display: flex;
  justify-content: space-between;
}
// index.html end ---

// geschiedenis.html start ---

.geschiedenisHR {
    background-color: #000000;
    height: 4px;
    border-radius: 4px;
    width: 80%;
}
.geschiedenisPN {
    font-size: 2rem;
    justify-content: center;
    display: flex;
    line-height: 1em;
}
.geschiedenisPND{
    padding: 1rem 9rem;
    position: relative;
    z-index: -1;
}
.benadict{
    position: absolute;
    right: 0;
    padding: 1rem 1rem;
}
.benadictt{
    position: absolute;
    right: 0;
    padding: 1rem 2.5rem;
}
.pick{
    position: absolute;
    left: 0;
    padding: 1rem 1rem;
}
.pickk{
    position: absolute;
    left: 0;
    padding: 1rem 2.5rem;
}
.humoren{
    position: absolute;
    left: 0;
    padding: 1rem 1rem;  
    height: 10rem;
    width: 9rem;
}
.humorenn{
    position: absolute;
    left: 0;
    padding: 1rem 2.5rem;

}
// geschiedins.html end ---

// behandeling page begin ---
@media (min-width: 1000px) and (max-width: 3840px) {
  
#img1-behandeling {
  position: relative;
  width: 10%;
  left: 15%;
  top: 3.5%;
}
#bh-titel {
  position: relative;
  text-align: center;
  top: -10%;
}
#bh-inl {
  position: relative;
  text-align: center;
  left: 22.5%;
  width: 55%;
}
#left-bh {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 35%;
  height: 35%;
  border-right: 1px solid black;
}
#right-bh {
  position: relative;
  left: 1%;
  width: 35%;
  height: 35%;
}
#bh-container {
  display: flex;
  justify-content: center;
}

#bubble1-bh {
  position: fixed;
  right: 20%;
  top: -5%; 
  width: 10%;
  z-index: -1;
}

#bubble2-bh {
  position: fixed;
  right: -3%;
  top: 70%; 
  width: 10%;
  z-index: -1;
  transform: rotate(90deg);
}
}

@media (min-width: 100px) and (max-width: 999px) {
  
#img1-behandeling {
  position: relative;
  width: 20%;
  left: 10%;
  top: 10%;
}
#bh-titel {
  position: relative;
  text-align: center;
  top: -8%;
}
#bh-inl {
  position: relative;
  text-align: center;
  left: 10%;
  width: 80%;
}
#left-bh {
  position: relative;
  width: 80%;
  height: 35%;
}
#right-bh {
  position: relative;
  width: 80%;
  height: 35%;
}
#bh-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bubble1-bh {
  position: fixed;
  right: 10%;
  top: 3%; 
  width: 20%;
  z-index: -1;
}

#bubble2-bh {
  position: fixed;
  right: -3%;
  top: 70%; 
  width: 20%;
  z-index: -1;
  transform: rotate(90deg);
}  
}
// behandeling page end ---


/* styling for quiz page */
#ant-img {
  top: 40%;
  position: fixed;
  width: 10%;
}

#quiz-titel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-quiz {
  left: 0;
  top: 0;
  position: fixed;
  width: 70%;
}

.button-style {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-style:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-style:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-style:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#vraag1 {
  display: block;
  position: relative;
}

#vraag2 {
   display: none;
}

#vraag3 {
  display: none;
}

#vraag4 {
  display: none;
}

#vraag5 {
  display: none;
}

#vraag6 {
  display: none;
}

#vraag7 {
  display: none;
}

#vraag8 {
  display: none;
}

#vraag9 {
  display: none;
}

#vraag10 {
  display: none;
}

#vraag11 {
  display: none;
}

#submit-button {
  display: none;

}

#v1-button {
  display: block;
}
#v2-button {
  display: none;
}
#v3-button {
  display: none;
}
#v4-button {
  display: none;
}
#v5-button {
  display: none;
}
#v6-button {
  display: none;
}
#v7-button {
  display: none;
}
#v8-button {
  display: none;
}
#v9-button {
  display: none;
}
#v10-button {
  display: none;
}
// ending of quiz page