<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="index.html">
        <system.webServer>
            <defaultDocument>
                <files>
                    <add value="index" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
