<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="homepage" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings file="C:\Users\vliet\OneDrive\Bureaublad\Nieuwe map\Schizo\html\geschiedenis.html" />
</configuration>
